body {
    margin: 0;
    width: 100vw;

}

nav {
    background-color: #3c2d49;
    height: auto;
}

nav img {
    width: 100px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img {
    width: 90%;
}

p {
    width: 90%;
}

/* Groter dan mobiel */
@media screen and (min-width: 480px) {}