body {
    margin: 0;
    width: 100vw;
}

nav {
    background-color: #3c2d49;
    height: auto;
}

nav img {
    width: 100px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img,
p {
    width: 90%;
}

.searchbar {
    display: flex;
}

.tags {
    display: flex;
    flex-direction: column;
    width: 100%;
}

button {
    width: auto;
}

/* Groter dan mobiel */
@media screen and (min-width: 480px) {}